@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professional @ViewData["Professional"]</p>

<address>
    <strong> More information: </strong><a href="http://lucassilveirati.ga/?i=1">Resumo Lucas Silveira</a>

</address>